
/*
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700');
*/
@charset "utf-8";
/*
 * Font         : NotoSansKR, Montserrat, jt-font
 * License      :
 * Subset Maker : Studio-jt (KMS)
 * Version      : 1.0.0
 * description  :
 */

/* 
 * Google Font
 * regular 400
 * medium 500
 * bold 700
 */
/*
 @font-face {
     font-family:'NotoSansKR';
     font-style: normal;
     font-display: auto;
     font-weight: 400;
     src: url('../fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Medium.eot');
     src: local("?"),
          url('../fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Medium.woff') format('woff'),
          url('../fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Medium.otf') format('opentype');
 }

@font-face {
    font-family:'NotoSansKR';
    font-style: normal;
    font-display: auto;
    font-weight: 700;
    src: url('../fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Bold.eot');
    src: local("?"),
         url('../fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Bold.woff') format('woff'),
         url('../fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Bold.otf') format('opentype');
}
*/
/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-latin_korean/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* ************************************** *
 * Montserrat
 * NOTE : change orignal font weightcustom 
 * font weight to match notosans weight
 * NICO 20191224
 * ************************************** */
@font-face {
    font-family:'Montserrat';
    font-style: normal;
    font-display: auto;
    font-weight: 400;
    src: url('../fonts/Montserrat/Montserrat-Light.eot');
    src: url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Light.otf') format('opentype');
    /*
	 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
     unicode-range: U+0000-0019, U+0030-0039, U+0040-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    */
	unicode-range: U+0000-0019, U+0030-0039, U+0040-005E , U+0061-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family:'Montserrat';
    font-style: normal;
    font-display: auto;
    font-weight: 500;
    src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Regular.otf') format('opentype');
	unicode-range: U+0000-0019, U+0030-0039, U+0040-005E , U+0061-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family:'Montserrat';
    font-style: normal;
    font-display: auto;
    font-weight: 700;
    src: url('../fonts/Montserrat/Montserrat-Medium.eot');
    src: local("?"),
         url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Medium.otf') format('opentype');
	unicode-range: U+0000-0019, U+0030-0039, U+0040-005E , U+0061-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family:'Montserrat';
    font-style: normal;
    font-display: auto;
    font-weight: 800;
    src: url('../fonts/Montserrat/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Bold.otf') format('opentype');
	unicode-range: U+0000-0019, U+0030-0039, U+0040-005E , U+0061-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ************************************** *
 * JT-FONT
 * ************************************** */
@font-face {
    font-family:'jt-font';
    font-style: normal;
    font-display: block;
    font-weight: normal;
    src: url('../fonts/jt-font/fonts/jt-font.eot');
    src: local("?"),
         url('../fonts/jt-font/fonts/jt-font.woff') format('woff');
}
