@charset "utf-8";
/*
 * File       : rwd-layout.css
 * Author     : STUDIO-JT (KMS)
 * Guideline  : JTstyle.1.1
 * Dependency : css/reset.css
 *              css/jt-strap.css
 *
 * SUMMARY:
 * 01)
 */

.small_footer_info,
.small_footer_bottom_info,
.copyright.small_copyright[lang="en"] { display: none;}
.sm_br{display: none}

/* **************************************** *
 * 2000px
 * **************************************** */
@media (min-width: 2001px){
	
	/* GLOBAL */
	body {opacity:0}
	body.qhd_load,
	body.page-template-subad-inquiry-php,
	.js_ad_sub_open body{opacity:1}
	
	/* HEADER */
	.ad_inquiry_content {padding-bottom: 460px;}
	.global_menu_btn_line_container.global_menu_btn_line_container_01{ top:12px}
	.open_btn_close_state .global_menu_btn_line_container_01{-webkit-transform: rotate(45deg) translate(7.5px,3.5px); transform: rotate(45deg) translate(7.5px,3.5px);}
	
	/* FIX QHDI POLYFILL BUG IN IE */ 
	@-ms-viewport {
		width: 2000px auto;
	}
	
	/* INQUIRY IFRAME */
	.page-template-ad-inquiry .article.sub_ad{margin-top:0;}
	.iframe .page-template-ad-inquiry .barba-container {margin-top: calc(25vh);}
	
	/* NPR , PR LIST */
	.jt_pr_list_wrap .jt_grid_list_thumb.jt_lazyload{padding-top: 56.1%;}
	.single_slide_item_thumb{padding-top: 56.2%;}
	
	/* Button spread fix*/
	.jt_btn_spread .jt_btn_overlay {display: none;}
    html.desktop .jt_btn_spread:hover { background: #0a0a0a;}
    html.desktop .jt_btn_basic.jt_type_03.jt_btn_spread:hover { background: #f52f23;}
    html.desktop .footer_info_download .jt_btn_icon:hover,
	html.desktop .about_info_download .jt_btn_icon:hover{ background: #fff;}
	html.desktop .jt_maplink_btn.jt_btn_naver:hover{ background: #1ac549}
	html.desktop .jt_maplink_btn.jt_btn_naver:hover, 
	html.desktop .jt_maplink_btn.jt_btn_kakao:hover{    transition: color 300ms, background 300ms;}
	
	html.ie .about_info_download .jt_btn_icon.jt_btn_spread{border:none;}
	html.ie .footer_info_download .jt_btn_spread:before{border-color:#0a0a0a}
	
}

	
/* **************************************** *
 * 1860px
 * **************************************** */
@media (max-width: 1860px){
    /* HEADER */
    /*
	.header_wrap {max-width: inherit;margin-left :50px;}
    .pop_menu_container {right: 25px;}
	*/

} /* 1860px */

@media (min-width: 1660px) and (max-width: 1860px){
    /* HEADER */
    .minimize_header #logo{ opacity:0; visibility:hidden;}

} /* 1660px and 1860px */




/* **************************************** *
 * 1660px
 * **************************************** */
@media (max-width: 1660px){
	/* LAYOUT */
	.wrap {max-width: 984px;}
	
	/* HEADER */
	.header_wrap { margin: 0 64px;}
	
	#logo {width: 121px;height: 39px;top: 44px;}
	.lang_menu li a { font-size: 11px;}
	.lang_container {top: 44px;left: 156px;}
	#header #top_menu > li > a {font-size: 15px;padding: 27px 22px;}
	#top_menu > li > a span:after {top:-8px; width:6px; height:6px;}
	.menu_container {margin-top: 24px;margin-right:54px;}
    button.pop_menu_button { width: 33px;}
    .global_menu_btn_line_container { height: 3px;}
	
	.global_menu_btn_line:before, 
	.global_menu_btn_line:after { width: 38px; height: 3px;}
	.global_menu_btn_line_container.global_menu_btn_line_container_02 { top: 23px;}
	.pop_menu_container {top: 20px;right: 40px;}
	
	.fix_sub_tab_nav .sub_tab_nav_clone .sub_tab_nav { margin-top: 24px;}
	.fix_sub_tab_nav .pop_menu_container {  top: 4px;}
	.fix_sub_tab_nav #logo { top: 33px;}
	.sub_tab_nav li a:after {width: calc(100% - 20px);left: 10px;}
	
    /* FOOTER */
	.footer,
	body:not(.home) .footer {  padding: 138px 0 100px;}
	.footer_primary_menu > ul > li > a { font-size: 26px;line-height: 1.7;}
	.footer_inner { max-width: 984px;}
	.footer_primary,
	body:not(.home) .footer_primary { padding-bottom: 0;}
	.footer_info b { font-size: 13px;padding-bottom: 10px;}
	.footer_info p { font-size: 13px; margin-bottom: 21px;}
	.footer_info_download .jt_btn_icon.jt_icon_download { min-width: 180px; padding: 18px 60px 18px 19px;}
	.footer_secondary_menu li a { font-size: 12px;}
	.footer_logo svg { transform: scale(0.65);}
	.footer_logo { width: 75px; padding-top:6px;}
	.family_select {width: 215px; margin-left: 3px;}
	.family_select_list_container{ bottom: 53px;}
	.family_select_title {padding: 16px 20px 16px 25px;font-size: 13px;}
	.go_top svg { transform: scale(0.85);}
	.go_top {top: 130px;right: 56px;}
	.footer_bottom_info_inner {font-size: 0;padding-top:6px;padding-bottom: 2px;}
	.footer_bottom_info_inner small {font-size: 12px;padding-right: 10px;margin-right: 7px;}
	.footer_bottom_info_inner small:after {margin-top: -4px;height: 9px;}
	.copyright[lang="en"] { font-size: 10px;}
	.footer_info { margin-bottom: 107px;}
	.footer_bottom { padding-top: 41px;}
	.footer_lang_and_family { padding-top: 20px;}
	.footer_lang_and_family .footer_lang_container { top: -3px;}
	.footer_primary_menu .sub-menu { left: 174px; top: 4px;}
    .footer_primary_menu .sub-menu li a{ font-size:16px}
	.footer_primary_menu_bullet{ width: 8px; height: 8px; margin-top: 16px;left: -17px;}
	.footer_primary_menu .menu-item:nth-child(4) .sub-menu {bottom:-100%;}
	html.ie .footer_primary_menu_bullet {margin-top:19px;}
	html.safari .footer_info_download .jt_btn_icon.jt_icon_download {padding-top:21px; padding-bottom:17px;}
	
    /* Modal Menu */
	.open_btn_close_state .global_menu_btn_line_container_01 {transform: rotate(45deg) translate(2px,2px);}
	.open_btn_close_state .global_menu_btn_line_container_02 {transform: rotate(-45deg) translate(7px,-7px);}
	.primary_menu_container .logo_img_container{width: 120px;height: 39px;top: 44px;left:64px;}
	.primary_menu > ul { max-width: 964px;}
	.primary_menu > ul >li > a { font-size: 28px;  margin-bottom: 15px;}
	.primary_menu .sub-menu li a { font-size: 15px;  max-width: 160px;}
	.primary_menu > ul >li > a:before { width: 10px; height: 10px;  top: -20px;}
	.primary_menu_container .lang_container {left: 220px;}
	html.ie .primary_menu > ul >li > a:before { top: -21px;}
	
	/* Ad button */
	.ad_contact_btn span { font-size: 15px; top: 16px;}
	html.ie .ad_contact_btn span {top: 17px;}
    html.desktop .ad_contact_btn:hover {width: 150px;}

	/* CONTAINER */
	.main_container {padding-top: 125px; padding-bottom: 136px;}

	/* PAGE */
	.article_subtitle_btn_download.jt_btn_icon {min-width: 180px; font-size: 14px;}
	
	/* sub tab nav */
	.sub_tab_nav_container { margin-bottom: 70px; }
	.sub_tab_nav {margin-left: -10px;}
	.sub_tab_nav_bar { bottom: 4px; }
	.sub_tab_nav li a { font-size: 18px; letter-spacing: -0.05em; padding: 10px 10px; }

	/* PAGE HEADER */
	.article_header {margin: 105px 0 60px;}
	.article_title {font-size: 50px;}
	.article_title:after { width: 9px; height: 9px; bottom: -5px; }
	.article_subtitle { font-size: 26px; line-height: 1.39; margin-top: 59px; margin-bottom: 37px; letter-spacing: -0.06em; }

	/* BREADCRUMB */
	.breadcrumb {font-size: 12px; margin-bottom: 16px;}
	.breadcrumb li a, .breadcrumb li span {padding: 0 8px;}
	html.ie .breadcrumb li.separator i {margin-top:10px;}
	html.safari .breadcrumb li.separator i {top:-1px;}

	/* 404 */
	.error_404_container { max-width: 984px; padding: 130px 0 240px; }
	.error_404_container h1 { font-size: 86px; }
	.error_404_container p { font-size: 16px; padding: 16px 0  45px; }
}


/* **************************************** *
 * 1660px 
 * **************************************** */
@media (max-width: 1660px) and  (max-height: 770px){
		
	.home .footer_primary{ top: 30px; position: relative;}
	
}

/* **************************************** *
 * 1480px
 * **************************************** */
@media (max-width: 1480px){

	 /* HEADER */
	.minimize_header:not(.home) .pop_menu_container { top: 0;}
	.minimize_header:not(.home) #header { height: 80px; background:#fff; border-bottom: 1px solid #eee }
	.minimize_header.fix_sub_tab_nav:not(.home) #header { box-shadow: none; background: none;  height: 0;}
	.minimize_header:not(.home) #logo { top: 30px;}
	.sub_tab_nav_clone.sub_tab_nav_container .wrap { margin-left: 240px;margin-right: 124px;}

	
} /* 1480px */



/* **************************************** *
 * 1380px
 * **************************************** */
@media (max-width: 1380px){
    /* LAYOUT */
    /* .wrap {max-width: inherit;margin: 0 6.5%;} */


    /* HEADER */


    /* FOOTER */


    /* SEARCH - RESULT PAGE */
    .search_result_list > li {height: 280px;}
    
} /* 1380px */



/* **************************************** *
 * 1240px
 * **************************************** */
@media (max-width: 1240px){

    /* LAYOUT */
	.wrap{margin-left: 64px; margin-right: 64px; max-width: inherit;}
	
	/* MAIN*/
    .main_visual_item .wrap { margin-left: 130px; margin-right: 130px;}
	
	/* 404 */
	.error_404_container { margin-left: 64px; margin-right: 64px; max-width: inherit; }
    .error_404_container h1 {font-size: 60px;}
    .error_404_container p {font-size: 15px;}
    
} /* 1240px */



/* **************************************** *
 * 1200px
 * **************************************** */
@media (max-width: 1200px){

    /* LAYOUT */


    /* FOOTER */


    /* SEARCH - RESULT PAGE */
    .search_result_list > li {height: 265px;}
    .search_result_list > li > a {padding: 28px 24px;}
    
} /* 1200px */



/* **************************************** *
 * 1100px
 * **************************************** */
@media (max-width: 1100px){

    /* HEADER */

    /* FOOTER */
	.footer_inner { margin: 0 64px;}
    
} /* 1100px */



/* **************************************** *
 * 1023px
 * **************************************** */
@media (max-width: 1023px){

    /* HEADER */
	#header #top_menu > li > a{ padding-left:15px;padding-right:15px;}
    .menu_container {margin-right: 64px;}
	
	.primary_menu > ul >li { float: none;}
	#primary_menu .sub-menu { display: none;}
	.primary_menu > ul {height: auto;max-width: inherit;left: 0;top: 0;margin: 0 64px;}
	.primary_menu_container .logo_img_container {/* left: 40px; */}
	.open_menu.home button.pop_menu_button { left: 0;}
	.primary_menu_container .lang_container {/* left: 185px; */}
	
	.primary_menu .sub-menu { position: absolute; left: 200px; top: 50%;transform: translateY(-50%);  min-width: 120px;}
	.primary_menu > ul >li{ position:relative; width:160px;}
	.primary_menu .menu-item:nth-child(1) .sub-menu{top: 0; transform: translateY(0px);}
	.primary_menu .menu-item:nth-child(2) .sub-menu{top: -30px; transform: translateY(0px);}
	.primary_menu .sub-menu li a{ padding: 8px 0 9px 10px;max-width:160px;}
	#primary_menu .over_active .sub-menu { display: block;}
    .primary_menu > ul > li > a { min-width: 160px; width:160px;}
	
	.primary_menu > ul > li > a:before { width: 8px; height: 8px; top: 16px;left: -17px;-webkit-transform: translate(-5px, 0); -ms-transform: translate(-5px, 0); transform: translate(-5px, 0);}
	.primary_menu > ul > li.over_active > a:before{opacity:1}
	html.desktop .primary_menu > ul > li > a:hover:after {content: "";position: absolute;width: 160px;height: 250px;bottom: 0;}
	html.ie .primary_menu > ul > li > a:before {top:17px;}
	
	/* PAGE */
	.fix_sub_tab_nav.minimize_header:not(.home) #logo {top: -30px;}
	.fix_sub_tab_nav .sub_tab_nav_clone.sub_tab_nav_container {margin: 0; width: 100%;}
	.fix_sub_tab_nav .sub_tab_nav_clone.sub_tab_nav_container:after { content: ''; display: block; width: 40px; height: 100%; position: absolute; top: 0px; right: 132px; background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); background: -webkit-linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); background: -moz-linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); pointer-events: none;}
	.fix_sub_tab_nav .sub_tab_nav_clone.sub_tab_nav_container .wrap {margin: 0; width: calc(100% - 80px); white-space: nowrap; overflow-y: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; font-size: 0;}

	.sub_tab_nav_clone.sub_tab_nav_container .wrap{margin-left: 64px; margin-right: 64px;}
	.sub_tab_nav_container { width: calc(100% + 128px); margin: 0 -64px; padding: 0 52px; white-space: nowrap; overflow-y: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; font-size: 0; }
	.sub_tab_nav {margin-left: 0;}
	.sub_tab_nav li:last-child {margin-right: 25px;}

	.article_subtitle { font-size: 24px; }

    /* FOOTER */
    .footer_inner { margin: 0 40px;}
	.go_top {top: 120px;right: 28px;}
	
	.footer_primary_menu_bullet {margin-top: 16px;}
	html.ios .footer_primary_menu_bullet {margin-top: 15px;}
	.primary_menu > ul > li > a {font-size: 26px; margin-bottom: 10px; line-height: 1.49;}
	.primary_menu .sub-menu {transform: none; left: 160px;}
	.primary_menu .sub-menu li a {line-height: 1.5}
	.primary_menu .menu-item:nth-child(1) .sub-menu {top: -4px;}
	.primary_menu .menu-item:nth-child(2) .sub-menu {top: -53px;}
	.primary_menu .menu-item:nth-child(3) .sub-menu {top: -100px;}
	.primary_menu .menu-item:nth-child(4) .sub-menu {top: -149px;}
	.primary_menu .menu-item:nth-child(5) .sub-menu {top: -196px;}
} /* 1023px */



/* **************************************** *
 * 860px
 * **************************************** */
@media (max-width: 860px){

	/* HEADER */
	#header #top_menu > li > a{padding-left: 13px;padding-right: 13px;}
	.menu_container {margin-right: 52px;}

}



/* **************************************** *
 * 768px
 * **************************************** */
@media (max-width: 768px){



}



/* **************************************** *
 * 767px
 * **************************************** */
@media (max-width: 767px){

	/* LAYOUT */
	.wrap {margin-left: 30px; margin-right: 30px;}
	.sm_br{display: block}
	
	/* HEADER */	
	#header,
	.minimize_header:not(.home) #header{height: 70px;}
	.header_wrap { margin: 0 30px;}
    .pop_menu_container { right: 6px;top:0px;}
	#logo{top: 29px; width: 102px;height: 32px;}
	button.pop_menu_button { width: 30px;}
	.pop_menu_container { right: 3px;}
	
	.global_menu_btn_line_container{ height:2px;}
	.global_menu_btn_line_container.global_menu_btn_line_container_01 { top: 12px;}	
	.global_menu_btn_line_container.global_menu_btn_line_container_02 {top: 22px;}
	.primary_menu_container .logo_img_container { top: 29px;left: 30px;width: 102px; height: 32px;}
	.primary_menu_container .lang_container { top: 30px;}
	.primary_menu > ul {margin: 0 38px;}
	

    .open_btn_close_state .global_menu_btn_line_container_01 {transform: rotate(45deg) translate(6px,3px);}
	.open_btn_close_state .global_menu_btn_line_container_02{transform: rotate(-45deg) translate(4px,-2px);}
	.open_btn_close_state .global_menu_btn_line_container{width: 25px;}
	.lang_container,
	.menu_container,
	.open_menu .lang_container,
	.open_menu .menu_container{ display:none}
	#global_menu_outer .lang_container{ display:block;}
	.primary_menu_container .lang_container {left: 154px;}
	.minimize_header:not(.home) .primary_menu_container .logo_img_container { top: 23px;}
	.minimize_header:not(.home) .primary_menu_container .lang_container {top: 23px;}
	
	.primary_menu .sub-menu { left: 147px; }
	.primary_menu > ul >li > a { min-width: 150px;}

	.minimize_header:not(.home) #logo {top: 23px;}
	.minimize_header:not(.home) .pop_menu_container { top: -7px;}
    .minimize_header:not(.home) .pop_menu_button{    padding-bottom: 0px;}
	
	.fix_sub_tab_nav .sub_tab_nav_clone.sub_tab_nav_container { height: 60px;}
	.fix_sub_tab_nav.minimize_header:not(.home) .pop_menu_container {  top: -60px;}
	.fix_sub_tab_nav.minimize_header:not(.home) #logo {top: -30px;}
	.fix_sub_tab_nav .sub_tab_nav_clone.sub_tab_nav_container {width: 100%; overflow: hidden; padding: 0; -webkit-overflow-scrolling: unset;}
	.fix_sub_tab_nav .sub_tab_nav_clone.sub_tab_nav_container:after {right: 0;}
	.fix_sub_tab_nav .sub_tab_nav_clone.sub_tab_nav_container .wrap {width: 100%; padding: 0 20px;}
	.fix_sub_tab_nav .sub_tab_nav_clone .sub_tab_nav_bar{ /* margin-left: -20px; */}
	.fix_sub_tab_nav .sub_tab_nav_clone .sub_tab_nav { margin-top: 11px; margin-bottom: 12px;}

	.sub_tab_nav_container { width: calc(100% + 60px); margin: 0 -30px; margin-bottom: 36px; padding: 0 20px;}
	.sub_tab_nav_container::-webkit-scrollbar {display:none;}
	.sub_tab_nav_container .wrap::-webkit-scrollbar {display:none;}
	.sub_tab_nav_clone.sub_tab_nav_container .wrap { margin-right: 30px; margin-left: 30px; }
	.sub_tab_nav li a {font-size: 16px; padding: 6px 10px;}
	.sub_tab_nav li a:after {bottom:1px;}
    
	/* FOOTER */
	.footer_info,
	.footer_bottom_info,
    .copyright[lang="en"] { display: none;}
	.small_footer_info, 
	.small_footer_bottom_info,
	.copyright[lang="en"].small_copyright {display: block;}
	.small_footer_info{padding-top: 36px;float:none;}
	.footer_bottom_info_inner { padding-top: 2px;padding-bottom:0;}
	.footer_bottom_info_inner small {color: #444;}
	html.ios .footer_bottom_info_inner small:after {margin-top:-5px;}
    .footer_inner { margin: 0 30px 0; padding-top: 60px;}
	.home .footer_inner{ padding-top: 30px;}
	.sub_page_footer .footer_inner{padding-bottom: 70px;}
	
	.small_footer_info .footer_info_download { display: none;}
	.footer_info {margin-bottom: 0;margin-top: 13px;padding: 0;}
	.footer_info b {display: none;}
	.footer_logo { display: none;}
	.footer_secondary_menu li { float: none;}
	.footer_bottom_inner {float: none;}
	.go_top {top: 120px;right: 8px;transform: scale(0.8);}
	.sub_page_footer .go_top{top: 18px;}
	
	.footer, 
	body:not(.home) .footer { padding: 0;}
	body.home[data-slide-index="5"] #logo{ display:none}
	.footer, body:not(.home) .footer { padding-top: 100px; height: 100%;}
    .footer_lang_and_family {float: none;position: relative;padding-top: 0;margin-top: 17px;}
    .footer_lang_and_family .footer_lang_container {float: none;position: absolute;left: 183px;top: 3px; display:block;}
	.footer_lang_and_family .footer_lang_container {display: none;}
    .family_select {float: none;width: 100%;margin-left: 0;}
    .family_select_list_container{/* min-width: 215px; */ bottom: 43px;}
	.family_select_list_container .nicescroll_area_outer{border-bottom-color: #222;}
    html.ios .family_select_list_container{bottom: 47px;}

	.footer_secondary_menu li a {font-size: 12px;padding: 6px 15px;}
	nav.footer_primary_menu { top: 0;}
	.footer_bottom { padding-top: 20px; margin-top: 50px; border-top: 1px solid #343434;}
	.home .footer_primary { top: 0; margin-top: 250px;}
	.home .footer_inner{ padding-top: 40px;}
	.family_select_title { padding: 10px 20px 12px 20px;color: #666; border-color: #666;}
	.family_select_title svg {top: 8px;}
	.family_select_title svg path {fill: #666;}
	.footer_lang_and_family .footer_lang_container .lang_menu li a { font-size: 13px; color: rgba(255, 255, 255, 0.25);}
	.footer_lang_and_family .footer_lang_container .lang_menu li.current a { color: #fff;}
	.footer_info p { margin-bottom: 1px;color: #444;}
    .footer_primary_menu .sub-menu{min-width: 120px;left: 151px;top: 50%;transform: translateY(-50%);}
	.footer_primary_menu .menu-item:nth-child(1) .sub-menu,
	.footer_primary_menu .menu-item:nth-child(2) .sub-menu{top: 0; transform: translateY(0px);}
	.footer_primary_menu .menu-item:nth-child(4) .sub-menu {bottom: auto;top: -35%;}
	.footer_primary_menu .sub-menu li a { font-size: 15px; padding:5px;}
	.footer_info_contact a {color: #444;}
	.copyright[lang="en"] {color: #444;margin-top:19px;}
		
	/* Contact button */
	.ad_contact_btn_subpage.ad_contact_btn{bottom: 15px;}
	.ad_contact_btn span{top: 18px; right: 75px;}
	html.ie .ad_contact_btn span{top: 19px;}
	html.edge .ad_contact_btn span{top: 18px;}
	html.ios .ad_contact_btn span {top: 17px;}
	.js_ad_static .ad_contact_btn_subpage.ad_contact_btn{top: -92px;}
	
	/* CONTAINER */
	.main_container { padding-top: 0;padding-bottom: 96px;}
	body.single .main_container{ padding-top: 40px}
	
	/* BREADCRUMB */
	#breadcrumb{ display:none}
	
	/* PAGE */
	.article_header {margin: 120px 0 32px;}
	.article_title { font-size: 32px; margin-bottom: 36px; margin-left: -1px; }
	.article_title:after {width: 7px; height: 7px; margin-left: 10px; bottom: -3px;}
	.article_title[lang="en"] {margin-bottom: 34px;}
	.article_subtitle {font-size: 23px; line-height: 1.42; margin-top: 36px; margin-bottom: 18px;}
	.article_body p.sub_desc {margin-top: -10px;}

	/* 404 */
	.error_404_container { margin-left: 30px; margin-right: 30px; padding: 200px 0 180px; }
    .error_404_container h1 {margin-left: -3px}
    .error_404_container h1:after { transform: scale(0.6); right: 0; margin-left: 2px; bottom: -3px; }
	.error_404_container h1 {font-size: 48px;line-height: 1.1;}
    .error_404_container p {font-size: 14px;padding-top: 18px;padding-bottom: 16px;}
	
} /* 767px */



/* **************************************** *
 * 520px
 * **************************************** */
@media (max-width: 520px){

    /* INTRO */
	.intro_text{ padding-top: 5px}
	.intro_text svg { width: 230px;}
	
	.intro_mask { height: 28px;margin-top: -14px;}
	.intro_mask.intro_mask_01 {margin-left: -14px;}
	.intro_mask.intro_mask_02 {margin-right: -14px;}
	.intro_ball {width: 28px;height: 28px;margin-top: -14px;}
	.intro_ball.intro_ball_01{left:0; margin-left: -28px;}
	.intro_ball.intro_ball_02{right:0; margin-right: -28px;}
	.intro_ball_rotate {margin-left: -14px;margin-top: -14px;width: 28px;height: 28px;}
	.intro_ball.intro_ball_mask {margin-left: -14px;}
	
	/*HEADER */
	.primary_menu > ul >li > a {/* font-size: 20px; */}
	.primary_menu > ul >li > a:before {top: 12px;}
	html.ios .primary_menu > ul >li > a:before {top: 13px;}
    html.android .primary_menu > ul >li > a:before {top:15px;}

	body[data-slide-index="1"] #logo { opacity: 0; }
	body[data-slide-index="2"] #logo { opacity: 0; }
	body[data-slide-index="3"] #logo { opacity: 0; }
	body[data-slide-index="4"] #logo { opacity: 0; }

	/* FOOTER */
	.footer_primary_menu > ul > li > a{font-size: 22px;line-height: 1.85; vertical-align: top;}
    .footer_lang_and_family .footer_lang_container {left:170px;}
	.go_top{top: 19px; background: transparent;}

	.footer_primary_menu .sub-menu {left: 142px;}
	.footer_primary_menu .menu-item:nth-child(2) .sub-menu { top: -41px; }
	.footer_primary_menu .menu-item:nth-child(3) .sub-menu { top: -30px; }
	.footer_primary_menu .menu-item:nth-child(4) .sub-menu { top: -22px; }
	.footer_primary_menu .menu-item:nth-child(5) .sub-menu { top: -126px; }
	html.ios .footer_primary_menu .menu-item:nth-child(4) .sub-menu {top: -18px;}
	
	/* 404 */
	.error_404_container {padding: 160px 0 148px;}
    .error_404_container h1 {font-size: 51px;}
	.error_404_container p br {display: none;}

} /* 520px */



@media (max-width: 767px) and  (max-height: 620px){
	/* FOOTER */
	.home .footer_inner {padding-top: 30px;}
	.footer_primary_menu .sub-menu li a {padding:5px;}
    .footer_secondary_menu li a {font-weight: 500;padding: 4px 15px;}
    .footer_info {margin-top: 12px;}
    .footer_info p {margin-bottom: 2px;}
    .footer_lang_and_family {margin-top: 22px;}
    .footer_bottom { padding-top: 12px; /*margin-top: 12px;*/ } 
    .copyright[lang="en"] {font-size: 10px; margin-top:0;}
    .small_copyright {padding-top: 12px;}
    .footer_lang_and_family .footer_lang_container .lang_menu li a {font-size: 11px;}
	.sub_page_footer .footer_inner {padding-bottom: 40px;}
}

@media (max-height: 630px){
	.footer_secondary_menu ul {overflow:hidden;}
    .footer_secondary_menu li { width: 33.33%;  float: left;}
	.sub_page_footer .footer_inner {padding-bottom: 50px;}
}

@media (max-height: 552px){
	/* FOOTER */
    .footer_secondary_menu ul {overflow:hidden;}
    .footer_secondary_menu li { width: 33.33%;  float: left;}
}



@media (max-width: 360px) and (max-height: 630px){
	/* FOOTER */
    .footer_secondary_menu li { width: 50%;}
}